hpc_url: "https://api.hpc.tools/v2/"
global_all_pcodes: "https://data.humdata.org/dataset/cb963915-d7d1-4ffa-90dc-31277e24406f/resource/71a63c2f-ba2f-4fef-8bf9-e4259dc41610/download/global_pcodes.csv"

max_admin: 5

time_periods:
  2025:
    start_date: "2025-01-01"
    end_date: "2025-12-08"


resource_description: "This resource contains standardised <> Humanitarian Needs Overview data taken from the OCHA HPC Tools system which is under active development."
resource_description_extra: "For more detailed but less standardized data on humanitarian needs, see the resources below."

headers:
  - "Country ISO3"
  - "Admin 1 PCode"
  - "Admin 1 Name"
  - "Admin 2 PCode"
  - "Admin 2 Name"
  - "Admin 3 PCode"
  - "Admin 3 Name"
  - "Admin 4 PCode"
  - "Admin 4 Name"
  - "Admin 5 PCode"
  - "Admin 5 Name"
  - "Description"
  - "Cluster"
  - "Category"
  - "Population"
  - "In Need"
  - "Targeted"
  - "Affected"
  - "Reached"
  - "Info"

population_status:
  "totalPopulation":
    "header": "Population"
    "tag": "#population"
  "inNeed":
    "header": "In Need"
    "tag": "#inneed"
  "target":
    "header": "Targeted"
    "tag": "#targeted"
  "affected":
    "header": "Affected"
    "tag": "#affected"
  "expectedReach":
    "header": "Reached"
    "tag": "#reached"

population_status_mapping:
  "Population": "all"
  "In Need": "INN"
  "Targeted": "TGT"
  "Affected": "AFF"
  "Reached": "REA"

hapi_dataset:
  name: "hdx-hapi-humanitarian-needs"
  title: "HDX HAPI - Affected People: Humanitarian Needs"
  tags:
    - "hxl"
    - "humanitarian needs overview - hno"
    - "people in need - pin"
  dataset_source: "OCHA Humanitarian Programme Cycle Tools (HPC Tools)"
  license_id: "cc-by-igo"
  resource:
    name: "Global Affected People: Humanitarian Needs"
    description: "Humanitarian needs data from HDX HAPI, please see [the documentation](https://hdx-hapi.readthedocs.io/en/latest/data_usage_guides/affected_people/#humanitarian-needs) for more information"
    filename: "hdx_hapi_humanitarian_needs_global"
    p_coded: True
    headers:
      - "location_code"
      - "has_hrp"
      - "in_gho"
      - "provider_admin1_name"
      - "provider_admin2_name"
      - "admin1_code"
      - "admin1_name"
      - "admin2_code"
      - "admin2_name"
      - "admin_level"
      - "sector_code"
      - "sector_name"
      - "category"
      - "population_status"
      - "population"
      - "reference_period_start"
      - "reference_period_end"
      - "dataset_hdx_id"
      - "resource_hdx_id"
      - "warning"
      - "error"
